.searchBox form {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.searchBox form {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}
.error-text {
  width: 100%;   
  text-align: center;
  color: red;
  margin-top: 4px;
  margin-bottom: 0px;
}